
body {
    background: #f3f7f8;
    font-size: 13px;
    font-weight: 500;
}

button,
a {
    outline: none !important;
    color: #ff3008;
    text-decoration: none !important;
}

p {
    font-size: 13px;
    color: #7a7e8a;
}

img {
    image-rendering: auto;
    height: 65px;
}


.btn-text-center {
    align-content: center !important;
}


.BG_style {
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center, center;
}

.BTS {
    /* margin-top: 99px; */
    max-width: 100%;
    height: 200px;
}



.w {
    width: 46% !important;
}


.google {
    height: 30px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
}

/* Nav */
.sumit-nav {
    background: #fff none repeat scroll 0 0 !important;
    padding: 0;
    z-index: 9;
}

.sumit-nav .nav-link {
    font-weight: 600;
    padding: 28px 0px !important;
    margin: 0 0 0 31px;
}

.dropdown-cart .dropdown-menu {
    padding-top: 0px !important;
}



.dropdown-cart-top {
    min-width: 500px;
}

.dropdown-cart-top-header {
    min-height: 107px;
}

.dropdown-cart-top-header .img-fluid {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    float: left;
    height: 59px;
    padding: 3px;
    width: 59px;
}

.dropdown-cart-top-header p.text-secondary {
    font-size: 11px;
    line-height: 24px;
    font-weight: 600;
}

.dropdown-cart-top-header h6 {
    font-size: 14px;
}

.food-item {
    border: 1px solid;
    border-radius: 2px;
    display: inline-block;
    font-size: 6px;
    height: 13px;
    line-height: 12px;
    text-align: center;
    width: 13px;
}

.dropdown-cart-top-body .food-item {
    float: left;
    margin: 4px 10px 0 0;
    padding-left: 1px;
}

/* login/Register */
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

.login,
.image {
    min-height: 100vh;
}

.bg-image {
    /* background-image: url('/img/login-bg.png'); */
    background-size: cover;
    background-position: center;
}




.btn-google {
    color: white;
    background-color: #ea4335;
}



.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da;
}

.select2-search__field {
    outline: none !important;
    border: 1px solid #ced4da;
}

.owl-carousel {
    position: relative;
}




.owl-theme .owl-nav [class*="owl-"] {
    position: absolute;
    bottom: calc(50% - 20px);
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 30px !important;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    color: #000 !important;
    height: 40px;
    line-height: 40px;
    margin: 0 !important;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.owl-theme .owl-nav [class*="owl-"] i {
    font-size: 13px !important;
    font-weight: normal !important;
}

.owl-theme .owl-nav .owl-prev {
    margin-left: -16px !important;
}

.owl-theme .owl-nav .owl-next {
    right: 0px;
    margin-right: -16px !important;
}

/* Homepage */
.owl-carousel-four .item {
    padding: 6px 7px;
}





.select2,
.select2 span {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    left: 96%;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.modal-footer .btn {
    font-size: 14px;
    padding: 12px 16px;
}

.btn-success,
.badge-success {
    background-color: #3ecf8e !important;
    border-color: #3ecf8e !important;
}

.btn-outline-success {
    color: #3ecf8e !important;
    border-color: #3ecf8e !important;
}

.btn-outline-success:hover {
    color: #ffffff !important;
    border-color: #3ecf8e !important;
    background-color: #3ecf8e !important;
}

.text-success {
    color: #3ecf8e !important;
}

.border-success {
    border-color: #3ecf8e !important;
}

.btn-danger,
.badge-danger {
    background-color: #f32129 !important;
    border-color: #f32129 !important;
}

.btn-outline-danger {
    color: #f32129 !important;
    border-color: #f32129 !important;
}

.btn-outline-danger:hover {
    color: #ffffff !important;
    border-color: #f32129 !important;
    background-color: #f32129 !important;
}

.text-danger1 {
    color: green !important;
}

.border-danger {
    border-color: #f32129 !important;
}

.btn-primary,
.badge-danger {
    background-color: #ff3008 !important;
    border-color: #ff3008 !important;
}

.btn-outline-primary {
    color: #ff3008 !important;
    border-color: #ff3008 !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #ffffff !important;
    border-color: #ff3008 !important;
    background-color: #ff3008 !important;
}

.text-primary {
    color: #ff3008 !important;
}

.border-primary {
    border-color: #ff3008 !important;
}

.btn-lg {
    font-size: 15px;
    font-weight: bold;
    padding: 14px 35px;
    letter-spacing: 1px;
}

.modal-content {
    border: none;
    height: fit-content;
    width: 280px !important;
    border-radius: 2px;

}

.mod {
    margin-left: 110px !important;
}

.btn {
    border-radius: 2px;
}

.form-control {
    font-size: 13px;
    border-radius: 2px;
    min-height: 38px;
}

.card {
    border-radius: 2px;
}

/* recommended height */

.imgheight {
    height: 200px !important;
    width: 250px !important;
}

.imageheight {
    height: 100px !important;
    width: 120px !important;
}

.rounded {
    border-radius: 2px !important;
}

.input-group-text {
    border-radius: 2px;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 2px;
}

.nav-pills .nav-link {
    border-radius: 2px;
}


.alert,
.badge,
.dropdown-menu {
    border-radius: 2px;
}

.input-group-sm>.custom-select,
.input-group-sm>.form-control,
.input-group-sm>.input-group-append>.btn,
.input-group-sm>.input-group-append>.input-group-text,
.input-group-sm>.input-group-prepend>.btn,
.input-group-sm>.input-group-prepend>.input-group-text {
    border-radius: 2px;
}

.bg-dark {
    background-color: #000 !important;
}

.pb-5,
.py-5 {
    padding-bottom: 4rem !important;
}

.pt-5,
.py-5 {
    padding-top: 4rem !important;
}

.dropdown-menu {
    font-size: 13px;
}

.dropdown-item {
    border-radius: 0 !important;
    padding: 7px 18px;
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
}

.dropdown-item:focus {
    background-color: #ff3008;
    color: #fff;
}

/* Listing */
.list-cate-page {
    margin: -5px 0px 0px 0px;
}

.filters-card-body {
    padding: 18px 0 0 0;
}

.filters-search {
    position: relative;
}

.filters-search i {
    position: absolute;
    left: 12px;
    top: 13px;
}

.filters-search .form-control {
    padding-left: 34px;
}

.custom-checkbox label.custom-control-label,
.custom-radio label.custom-control-label {
    padding-top: 2px;
    cursor: pointer;
}

.filters-card-header a {
    font-weight: 500;
    width: 100%;
    display: block;
}

.filters-card-header a i {
    margin: 2px -2px 0 0;
}

.position-absolute {
    z-index: 1;
}

iframe.position-absolute {
    z-index: 0;
}

.list-card .count-number {
    margin: 4px 0 0 0;
    display: inline-block;
}

.list-card a {
    color: inherit;
}

.list-card a:hover {
    color: #0091bc;
}

.list-card .star {
    right: 8px;
    bottom: 8px;
}

.list-card .star .badge {
    font-size: 11px;
    padding: 5px 5px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.list-card .member-plan {
    left: 8px;
    top: 8px;
}

.list-card .member-plan .badge {
    font-size: 11px;
    padding: 5px 5px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.list-card .list-card-image {
    position: relative;

}

.list-card .favourite-heart {
    right: 8px;
    top: 8px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.list-card .favourite-heart i {
    background: #fff;
    width: 23px;
    height: 23px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    border-radius: 50px;
}

/* detail */
.count-number .btn {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 0px;
}

.restaurant-detailed-header-left {
    text-shadow: 0px 0px 10px #000;
}

.count-number-input {
    width: 24px;
    text-align: center;
    margin: 0 -4px;
    background: #6c757d;
    border: none;
    color: #fff;
    height: 24px;
    border-radius: 0px;
    vertical-align: bottom;
}

.generator-bg {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3008+1,fe792b+100 */
    background: #ff3008;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff3008 1%, #fe792b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff3008 1%, #fe792b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff3008 1%, #fe792b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3008', endColorstr='#fe792b', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    position: -webkit-sticky;
    /* Safari & IE */
    position: sticky;
    top: 0;
    /* bottom: 0; */
    z-index: 1;

}

/* loading screen */
.load {
    margin-top: 220px;
}

/* header fix */
.headerfix {
    position: -webkit-sticky;
    /* Safari & IE */
    position: sticky;
    top: 0;
    z-index: 5;
}

.restaurant-detailed-banner {
    position: relative;
}

.restaurant-detailed-banner .img-fluid.cover {
    height: 424px;
    object-fit: cover;
}


.restaurant-detailed-header {
    bottom: 0;
    left: 0;
    padding: 65px 0 17px;
    position: absolute;
    right: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.83) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#d4000000', GradientType=0);
}

.homepage-great-deals-carousel .item img {
    border-radius: 2px;
}

.restaurant-detailed-earn-pts .img-fluid.float-left {
    height: 61px;
}

.card-icon-overlap {
    overflow: hidden;
    position: relative;
}

.red-generator-bg {
    background: #ff3371;
    background: -moz-linear-gradient(-45deg, #ff3371 1%, #fe6753 100%);
    background: -webkit-linear-gradient(-45deg, #ff3371 1%, #fe6753 100%);
    background: linear-gradient(135deg, #ff3371 1%, #fe6753 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff3371', endColorstr='#fe6753', GradientType=1);
}

.border-btn {
    border: 1px solid #dee0e6;
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    margin: 0 0 10px 0;
}

.restaurant-detailed-ratings .generator-bg {
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    margin: 0 4px 0 0;
    padding: 3px 6px;
}

.explore-outlets-search .form-control {
    border-radius: 2px !important;
    font-size: 15px;
    height: 50px;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.search-row {
    max-width: 50px;
    background-color: aliceblue;
    padding: 3px;
    margin: auto;
    z-index: 10;
}

.explore-outlets-search .btn {
    color: #777777;
    font-size: 15px;
    padding: 13px 17px;
    /* position: absolute; */
    z-index: 9;
    right: 0;
    text-decoration: none;
}

/* search button add css */
.btnn {
    color: #777777;
    font-size: 15px;
    padding: 13px 17px;

    z-index: 9;
    right: 0;
    text-decoration: none;
}

/* validation design */
.Val {
    color: red;
}

.mall-category-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 0 6px;
    overflow: hidden;
    text-align: center;
    padding: 0 0 7px 0;
}

.mall-category-item img {
    height: 89px;
    object-fit: cover;
    width: 100%;
}

.mall-category-item h6 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 10px 10px 3px 10px;
}

.mall-category-item .btn {
    padding: 2px 8px;
    font-size: 12px;
    right: 7px;
    top: 7px;
}

.mall-category-item small {
    background: #ececec;
    color: #f32129;
    padding: 1px 6px;
    border-radius: 2px;
    font-size: 10px;
}

.mall-category-item:hover small {
    background: #f32129;
    color: #ffffff;
}

.rating {
    margin-left: 105px;
}

.address-map {
    border-radius: 2px;
    overflow: hidden;
}

.new-arrivals-card .card-img .new-arrivals {
    bottom: 11px;
    left: 12px;
    position: absolute;
}

.new-arrivals {
    background: #000 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    padding: 1px 13px;
    text-transform: uppercase;
}

.new-arrivals-card .card-img {
    position: relative;
}

.total-like-user {
    border: 2px solid #fff;
    height: 34px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    width: 34px;
}

.total-like-user-main a {
    display: inline-block;
    margin: 0 -17px 0 0;
}

.total-like {
    border: 1px solid;
    border-radius: 50px;
    display: inline-block;
    font-weight: 500;
    height: 34px;
    line-height: 33px;
    padding: 0 13px;
    vertical-align: top;
}

.restaurant-detailed-ratings-and-reviews hr {
    margin: 0 -24px;
}

.star-rating {
    cursor: pointer;
}

.graph-star-rating-header .star-rating {
    font-size: 17px;
}

.progress {
    background: #f2f4f8 none repeat scroll 0 0;
    border-radius: 0;
    height: 30px;
}

.rating-list {
    display: inline-flex;
    margin-bottom: 15px;
    width: 100%;
}

.rating-list-left {
    height: 16px;
    line-height: 29px;
    width: 10%;
}

.rating-list-center {
    width: 80%;
}

.rating-list-right {
    line-height: 29px;
    text-align: right;
    width: 10%;
}

.restaurant-slider-pics {
    bottom: 0;
    font-size: 12px;
    left: 0;
    z-index: 999;
    padding: 0 10px;
}

.restaurant-slider-view-all {
    bottom: 15px;
    right: 15px;
    z-index: 999;
}

.offer-dedicated-nav .nav-link.active,
.offer-dedicated-nav .nav-link:hover,
.offer-dedicated-nav .nav-link:focus {
    border-color: #3868fb;
    color: #3868fb;
}

.offer-dedicated-nav .nav-link {
    border-bottom: 2px solid #fff;
    color: #000000;
    padding: 16px 0;
    font-weight: 600;
}

.offer-dedicated-nav .nav-item {
    margin: 0 37px 0 0;
}

.restaurant-detailed-action-btn {
    margin-top: 12px;
}

.restaurant-detailed-header-right .btn-success {
    border-radius: 3px;
    height: 45px;
    margin: -18px 0 18px;
    min-width: 130px;
    padding: 7px;
}

.text-black {
    color: #000000;
}

.icon-overlap {
    bottom: -23px;
    font-size: 74px;
    opacity: 0.23;
    position: absolute;
    right: -32px;
}

.menu-list img {
    width: 41px;
    height: 41px;
    object-fit: cover;
}

.restaurant-detailed-header-left img {
    width: 88px;
    height: 88px;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

/* Checkout Page */
.addresses-item a.btn.btn-sm {
    min-width: 157px;
}

.sumit-cart-item-profile img {
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
}

.sumit-cart-item-profile p {
    font-size: 10px;
}

.sumit-payment .nav-link {
    padding: 18px 20px;
    border: none;
    font-weight: 600;
    color: #535665;
}

.sumit-payment .nav-link i {
    width: 28px;
    height: 28px;
    background: #535665;
    display: inline-block;
    text-align: center;
    line-height: 29px;
    font-size: 15px;
    border-radius: 50px;
    margin: 0 7px 0 0px;
    color: #fff;
}

.sumit-payment .nav-link.active {
    background: #f3f7f8;
    color: #282c3f !important;
}

.sumit-payment .nav-link.active i {
    background: #282c3f !important;
}

.sumit-payment .tab-content {
    background: #f3f7f8;
    padding: 20px;
}

.sumit-card i {
    font-size: 35px;
    vertical-align: middle;
    color: #6c757d;

}

/* Footer */
.footer {
    background: #EDF1F4;
}

.footer h6 {
    font-size: 14px;
    text-transform: uppercase;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    line-height: 26px;
    list-style: outside none none;
}

.footer ul li a {
    color: #6c8293;
}

footer {
    background-color: #f0f4f7;
}

.D-header {
    display: flex
}

.D-Categories img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

.D-deal {
    border-radius: 25px;
    bottom: 1.8rem;
    position: relative;
    background-color: #fff;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.OffersTab {
    color: black;
    margin-right: 5px !important;
}

.OffersTab.nav-tabs{
   border-bottom: none !important;
}

.OffersTab.nav-tabs .nav-link.active {
    color: rgb(249, 247, 247) !important;
    background-color: rgb(237, 96, 36) !important;
    border: none !important;
    font-weight: 700;
    border-radius: 20px;
}

.OffersTab.nav-tabs .nav-link {
    border: 1px solid #e4e4e4 !important;
    border-radius: 20px !important;
    margin-right: 20px;
}

@media (max-width: 575.98px) {
    .m-none {
        display: none;
    }

    .dropdown-cart-top {
        min-width: 400px;
    }

    .D-header {
        display: block
    }

    .list-cate-page {
        margin: 22px 0 0 0;
    }

    .d-none-m {
        display: none;
    }

    .row.pt-2.pb-2 {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }

    .row.pt-2 {
        padding-top: 0px !important;
    }

    .row.mt-4.pt-2 {
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

  

    .restaurant-detailed-action-btn.float-right .btn {
        margin: 3px 0px;
        font-size: 13px;
    }

    .h5,
    h5 {
        font-size: 16px;
    }

    .sumit-nav {
        padding: 15px 15px;
    }

    .navbar-toggler {
        padding: 5px 8px;
        border-radius: 2px;
    }

    .sumit-nav .nav-link {
        margin: 0px;
        text-align: center;
        padding: 14px 0 !important;
        border-bottom: 1px solid #eef0ef;
    }

    .sumit-nav .dropdown-item {
        text-align: center;
    }

    .sumit-slider {
        padding: 18px 0 0 0px !important;
    }

    .pt-5,
    .py-5 {
        padding-top: 3rem !important;
    }

    .pb-5,
    .py-5 {
        padding-bottom: 3rem !important;
    }

    .homepage-search-block {
        padding: 3rem 0 !important;
    }

    .mobile-none {
        display: none;
    }

    .card {
        margin-bottom: 15px !important;
    }

    p {
        font-size: 12px;
    }

    .restaurant-detailed-header-left img {
        float: none !important;
        margin: 0 0 14px 0 !important;
    }

    .restaurant-detailed-header-left {
        text-align: center;
    }

    .restaurant-detailed-header-right .btn-success {
        margin-top: 18px;
    }

    .restaurant-detailed-header-right.text-right {
        text-align: center !important;
    }

    .restaurant-detailed-action-btn.float-right {
        float: none !important;
        margin: auto;
        text-align: center;
        width: 100% !important;
        display: block;
        padding: 12px 0;
        border-bottom: 1px solid #dedede;
    }

 

    .row.mb-4 {
        margin-bottom: 0px !important;
    }

    .app {
        margin-bottom: 26px;
    }

    .footer ul li a {
        font-size: 12px;
    }

    .footer h6 {
        font-size: 13px;
        text-transform: capitalize;
    }

    .h3,
    h3 {
        font-size: 22px;
    }

    .p-5 {
        padding: 20px !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .homepage-add-section .col-md-3.col-6 {
        padding: 2px 2px;
    }

    .row.pt-2.pb-2 {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }

    .row.pt-2 {
        padding-top: 0px !important;
    }

    .d-none-m {
        display: none;
    }

    .row.mt-4.pt-2 {
        margin-top: 0px !important;
        padding-top: 0px !important;
    }


    .container {
        max-width: 100%;
    }

    .sumit-nav {
        padding: 15px 15px;
    }

    .navbar-toggler {
        padding: 5px 8px;
        border-radius: 2px;
    }

    .sumit-nav .nav-link {
        margin: 0px;
        text-align: center;
        padding: 14px 0 !important;
        border-bottom: 1px solid #eef0ef;
    }

    .sumit-nav .dropdown-item {
        text-align: center;
    }

    .sumit-slider {
        padding: 18px 0 0 0px !important;
    }

    .pt-5,
    .py-5 {
        padding-top: 3rem !important;
    }

    .pb-5,
    .py-5 {
        padding-bottom: 3rem !important;
    }

    .homepage-search-block {
        padding: 3rem 0 !important;
    }

    .mobile-none {
        display: none;
    }

    .card {
        margin-bottom: 15px !important;
    }

    p {
        font-size: 12px;
    }

    .restaurant-detailed-header-left img {
        float: none !important;
        margin: 0 0 14px 0 !important;
    }

    .restaurant-detailed-header-left {
        text-align: center;
    }

    .restaurant-detailed-header-right .btn-success {
        margin-top: 18px;
    }

    .restaurant-detailed-header-right.text-right {
        text-align: center !important;
    }

    .restaurant-detailed-action-btn.float-right {
        float: none !important;
        margin: auto;
        text-align: center;
        width: 100% !important;
        display: block;
        padding: 12px 0;
        border-bottom: 1px solid #dedede;
    }

    

    .row.mb-4 {
        margin-bottom: 0px !important;
    }

    .app {
        margin-bottom: 26px;
    }

    .footer ul li a {
        font-size: 12px;
    }

    .footer h6 {
        font-size: 13px;
        text-transform: capitalize;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        max-width: 100%;
    }

    .sumit-nav {
        padding: 15px 15px;
    }

    .navbar-toggler {
        padding: 5px 8px;
        border-radius: 2px;
    }

    .sumit-nav .nav-link {
        margin: 0px;
        text-align: center;
        padding: 14px 0 !important;
        border-bottom: 1px solid #eef0ef;
    }

    .sumit-nav .dropdown-item {
        text-align: center;
    }

    .sumit-slider {
        padding: 18px 0 0 0px !important;
    }

    .pt-5,
    .py-5 {
        padding-top: 3rem !important;
    }

    .pb-5,
    .py-5 {
        padding-bottom: 3rem !important;
    }

    .homepage-search-block {
        padding: 3rem 0 !important;
    }

    .card {
        margin-bottom: 15px !important;
    }

    p {
        font-size: 12px;
    }

    .restaurant-detailed-header-left img {
        float: none !important;
        margin: 0 0 14px 0 !important;
    }

    .restaurant-detailed-header-left {
        text-align: center;
    }

    .restaurant-detailed-header-right .btn-success {
        margin-top: 18px;
    }

    .restaurant-detailed-header-right.text-right {
        text-align: center !important;
    }


    .row.mb-4 {
        margin-bottom: 0px !important;
    }

    .app {
        margin-bottom: 26px;
    }

    .footer ul li a {
        font-size: 12px;
    }

    .footer h6 {
        font-size: 13px;
        text-transform: capitalize;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {}